p {text-align: center;
    color: #516582;
}

h1 {text-align: center;
    color: #516582;
}

a {text-align: center;
    color: #516582;
}

body {
    cursor: url('/img/cursor/cursor.svg'), auto;
    background-color: rgb(44, 44, 44);
} 

img {
    align-content: center;
    height: 188;
    width: 188;

}


