p {text-align: center;
    color: #808080;
}

h1 {text-align: center;
    color: #808080;
}

a {text-align: center;
    color: #808080;
}

body {
    cursor: url('/cursor/cursor.svg'), auto;
    background-color: rgb(0, 0, 0);
} 