a {
    color: inherit;
    text-decoration: inherit;
  }
body {
    background-color: rgb(3, 0, 29);
    text-align: center;
    align-content: center;
}
div {
    background-color: rgb(5, 0, 52);
}
.gaegu-regular {
    font-family: "Gaegu", serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: "gaegu-regular", sans-serif;
  }
button {
    font-family: "gaegu-regular";
}
p {
    font-family: "gaegu-regular";
}