a {
    color: inherit;
    text-decoration: inherit;
  }
body {
    background-color: rgb(3, 0, 29);
    text-align: center;
    align-content: center;
}
.gaegu-regular {
    font-family: "Gaegu", serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: "Gaegu";
    color: cadetblue;
}
p {
    font-family: "Gaegu";
    color: cadetblue;
}