a {
    color: inherit;
    text-decoration: inherit;
  }
body {
    background-color: rgb(3, 0, 29);
    text-align: center;
    align-content: center;
}
.gaegu-regular {
    font-family: "Gaegu", serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: "Gaegu";
    color: cadetblue;
}
p {
    font-family: "Gaegu";
    color: cadetblue;
}
.cursor-effect {
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(0, 90, 146);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 90, 146);
    pointer-events: none;
    animation: fadeOut 0.5s linear forwards;
}